%h2 You're almost done!

= simple_form_for(resource, :as => resource_name, :url => confirm_path) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, :required => false, :autofocus => true
    = f.input :role_ids, :collection => selectable_roles, :label_method => lambda { |t| t.name.titleize }, :label => 'Account type', selected: 4, include_blank: false
    = f.input :confirmation_token, :as => :hidden
  .form-actions
    = f.button :submit, t('.confirm_account')

