- title = "#{@user.name} campaigns"
- set_title(title)

%h3= title

= search_form_for @search, url: user_campaigns_path(@user) do |f|
  %div.field
    = f.text_field :title_cont, placeholder: "Search by title"
  %div.field
    = f.label :price_gteq, "Price between"
    = f.number_field :price_gteq, class: "input-mini"
    = f.label :price_lteq, "and"
    = f.number_field :price_lteq, class: "input-mini"
  = f.submit "Search", class: "btn"

%table.table.table-condensed
  %thead
    %tr
      %th Title
      %th Brief
      %th Price
      %th Created on
      %th
      %th
  %tbody
    - @campaigns.each do |c|
      - cid = c.id
      - uid = c.user_id
      %tr
        %td= link_to c.title, user_campaign_path(uid, cid)
        %td= c.brief
        %td= number_to_currency(c.price)
        %td= c.created_at.to_date
        - if c.user == current_user
          %td= link_to("Edit campaign", edit_user_campaign_path(uid, cid), :class => 'btn btn-mini')
          %td= link_to("Delete campaign", user_campaign_path(uid, cid), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini')


