- title = "Users enrolled for '#{@campaign.title}'"
- set_title(title)

%h3= title

%table.table.table-condensed
  %thead
    %tr
      %th Username
      %th Email
      %th
      %th
  %tbody
  - @joined_users.each do |joined_user|
    %tr
      %td= link_to joined_user.name, joined_user
      %td= joined_user.email
      %td
      %td= enrollment_actions_for(joined_user, @campaign)

