= link_to "Leverage", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    - if current_user.has_role?(:agency)
      %li
        = link_to 'Campaigns', user_campaigns_path(current_user.id)
      %li
        = link_to 'New campaign', new_user_campaign_path(current_user.id)
    - elsif current_user.has_role?(:tweeter)
      %li
        = link_to 'Joined campaigns', enrollments_user_path(current_user.id)
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
    %li
      = link_to 'Edit account', edit_user_registration_path
  - else
    %li
      = link_to 'Login', new_user_session_path
    %li
      = link_to 'Sign up', new_user_registration_path
